<!DOCTYPE html>
<html lang="en">
{include file="layout/head" /}


<body class="sticky-header">

<section>
    {include file="layout/sidebar" /}

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->

            <!--toggle button end-->

            <!--search start-->
            <!-- <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form> -->
            <!--search end-->

            <!--notification menu start -->
            {include file="layout/header"}
            <!--notification menu end -->

        </div>
        <!-- header section end-->



        {include file="layout/footer" /}


    </div>
    <!-- main content end-->
</section>


{include file="layout/js" /}

</body>
</html>
