<!DOCTYPE html>
<html lang="en">
{include file="layout/head"}

<body class="sticky-header">

<section>
    <!-- left side start-->
    {include file="layout/sidebar"}
    <div class="main-content" >
        <div class="header-section">
       {include file="layout/header"}
        </div>
        <div class="page-heading">
            <h3>
                新闻修改
            </h3>

        </div>
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
<section class="panel">
<div class="col-sm-12" >
    <form action="{:url('Settings/news_update')}" method="post" id="myform" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="left col-xs-3 text-right">
            <label for="">新闻标题:</label>
            </div>
            <div class="right col-xs-8 text-left">
                <input type="text" class="form-control"  name="title" placeholder="" value="{$new.title}">
            </div>
        </div>

        <div class="form-group row">
            <div class="left col-xs-3 text-right">
                <label for="">新闻图片:</label>
            </div>
            <div class="right col-xs-8 text-left">

                <span style="float: right;margin-right: 500px;color: red">大小：330px*238px | 宽：高 = 1.38 ：1</span>
                <input type="file"   name="img" placeholder="" value=>
                {eq name="new['img']" value=""}
                {else}
                <img src="{$new.img}" alt="">
                {/eq}

            </div>
        </div>


        <div class="form-group row">
            <div class="left col-xs-3 text-right">
            <label for="">新闻内容:</label>
            </div>
            <div class="right col-xs-8 text-left ">
                <div style="margin-bottom: 20px; width: 1200px; ">
                    <textarea class="layui-textarea" id="LAY_demo2" style="display: none;width: 800px" name="content">
                        {$new.content}
                    </textarea>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="left col-xs-3 text-right">
                <label for="">新闻来源:</label>
            </div>
            <div class="right col-xs-8 text-left">
                <input type="text" class="form-control"  name="from" placeholder="" value="{$new.from}">
            </div>
        </div>

        <input type="hidden" name="id" value="" />
        <div class="form-group text-center submit">
            <button type="submit" class="btn btn-primary ">提交</button>
            <input type="hidden" name="id" value="{$new.id}">
        </div>
    </form>
    </div>
</section>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-12">
        </div>
        </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        {include file="layout/footer"}
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

{include file="layout/js"}

</body>
<script type="text/javascript">
    layui.use('layedit', function(){
        var layedit = layui.layedit
            ,$ = layui.jquery;

        //构建一个默认的编辑器
        var index = layedit.build('LAY_demo1');

        //编辑器外部操作
        var active = {
            content: function(){
                alert(layedit.getContent(index)); //获取编辑器内容
            }
            ,text: function(){
                alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            ,selection: function(){
                alert(layedit.getSelection(index));
            }
        };

        $('.site-demo-layedit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //自定义工具栏
        layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            ,height: 600
        })
    });
</script>
</html>
