<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<html lang="en">
{include file="layout/head" /}


<body class="sticky-header">

<section>
    {include file="layout/sidebar" /}

    <!-- main content start-->
    <div class="main-content" >
        <!-- header section start-->
        <div class="header-section">
            {include file="layout/header"}

        </div>
        <h3 >{$name}:</h3>
        <table id="{$id}" class="display table table-bordered table-striped">

        </table>

        </table>
        {include file="layout/footer" /}


    </div>
    <!-- main content end-->
</section>


{include file="layout/js" /}

</body>
<script>

    $(function () {
        $('#table_month').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('month_total')}",
            "columns": [
                {"title": "月份", "data": "month"},
                {"title": "访问次数", "data": "total"},

            ]

        });
    });

    $(function () {
        $('#table_today').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('day_total')}",
            "columns": [
                {"title": "排名", "data": "foot"},
                {"title": "用户名称", "data": "name"},
                {"title": "访问次数", "data": "count_visit"},

            ]

        });
    });

    $(function () {
        $('#table_ip').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('ip_visit')}",
            "columns": [
                {"title": "地区", "data": "name"},

            ]

        });
    });

    $(function () {
        $('#table_notice').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('notice_time')}",
            "columns": [
                {"title": "用户名", "data": "name"},
                {"title": "发布次数", "data": "notice_time"},
            ]

        });
    });

    $(function () {
        $('#table_eva').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('evaluate_time')}",
            "columns": [
                {"title": "用户名", "data": "name"},
                {"title": "评价次数", "data": "evaluated_time"},
            ]

        });
    });


    $(function () {
        $('#table_qian').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('qian_new')}",
            "columns": [
                {"title": "用户名称", "data": "company_name"},
                {"title": "签约总量", "data": "counts"},

            ]

        });
    });

    $.extend($.fn.dataTable.defaults, {
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        buttons: true
    });



</script>
</html>
