<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <form id="form">
       <ul>
           <li>
               <input type="text" name="a[]">
               <input type="text" name="ab[]">
           </li>
       </ul>
        <ul>
            <li>
                <input type="text" name="a[]">
                <input type="text" name="ab[]">
            </li>
        </ul>
        <ul>
            <li>
                <input type="text" name="a[]">
                <input type="text" name="ab[]">
            </li>
        </ul>
        <input type="button" value="adsadas" onclick="aa()">
    </form>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js">

    </script>
</head>
<body>
</body>
</html>

<script>
    function aa() {
        var array = $('#form').serializeArray();
        for(var i=0;i<(array.length);i++ ){
            if(isInter){

            }
        }
    }
</script>