<!DOCTYPE html>
<html lang="en">
{include file="layout/head"}

<body class="sticky-header">

<section>
    <!-- left side start-->
    {include file="layout/sidebar"}
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->

        <!--toggle button end-->

        <!--search start-->
        <!--search end-->

        <!--notification menu start -->
       {include file="layout/header"}
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                网站公告列表
            </h3>

        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <div class="panel-body">
        <button class="btn btn-primary" onclick="addCategory()">新增公告</button>
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>标题</th>
                <th>公告内容</th>
                <th class="hidden-phone">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $info as $v}
            <tr class="gradeX">
                <td>{$v.title}</td>
                <td>{$v.content}</td>
                <td class="center hidden-phone">
                    <button class="btn btn-info" onclick="web_notice_edit('{$v.id}',this)">修改</button>
                    <button class="btn btn-danger" onclick="web_notice_del('{$v.id}',this)">删除</button>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
            </div>
            </div>
        {$info->render()}
        </section>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-12">
        <input type="hidden" id="handle_status" val="0" />
        </div>
        </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        {include file="layout/footer"}
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

{include file="layout/js"}

</body>
<script>
function addCategory() {
    layer.open({
        title:'添加公告',
        type: 2,
        area: ['500px', '410px'],
        fix: false, //不固定
        maxmin: true,
        content: '{:url("Notice/web_notice_add")}',
        success:function(layero,index){
        },
        end:function(){
            if (parent.$("#handle_status").val() == 1) {
                layer.msg('添加成功！',{
                    icon: 1,
                    time: 1000
                },function(){
                    history.go(0);
                });
                parent.$("#handle_status").val('0');
            }
        }
    });
}
function web_notice_edit(id,obj) {
    layer.open({
        title:'修改公告',
        type: 2,
        area: ['500px', '410px'],
        fix: false, //不固定
        maxmin: true,
        content: '{:url("Notice/web_notice_edit")}?id='+id,
        success:function(layero,index){
        },
        end:function(){
            if (parent.$("#handle_status").val() == 1) {
                layer.msg('修改成功！',{
                    icon: 1,
                    time: 1000
                },function(){
                    history.go(0);
                });
                parent.$("#handle_status").val('0');
            }
        }
    });
}
function web_notice_del(id,obj) {
    layer.confirm('确认删除?', {btn: ['确定','取消']}, function(){
        $.post("{:url('Notice/web_notice_del')}", {id: id},function (data, status) {
            if(data == '1'){
                layer.msg('删除成功',{
                    icon: 1,
                    time: 1000
                },function(){
                    $(obj).parent().parent().remove();
                });
            }else{
                layer.msg('删除失败');
            }
        });
    });
}


</script>
</html>
