<!DOCTYPE html>
<html lang="en">
{include file="layout/head"}

<body class="sticky-header">

<section>
    {include file="layout/sidebar"}
    <div class="main-content" >

        <div class="header-section">

       {include file="layout/header"}

        </div>
        <div class="page-heading">
            <h3>
                {$title}
            </h3>
        </div>
        <div class="mt-20">
            <table id="hetong" class="display table table-bordered table-striped">

            </table>
        </div>
        {include file="layout/footer"}

    </div>
</section>

{include file="layout/js"}

</body>
</html>
<script>
    $(function () {
        $('#hetong').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('Customer/hetong_ajax')}",
            "columns": [
                {"title": "用户名", "data": "user_name"},
                {"title": "客户名", "data": "customer_name"},
                {"title": "合同名称", "data": "contract_name"},
                {"title": "阶段关系", "data": "status"},
                {"title": "创建时间", "data": "create_time"},
                {"title": "更新时间", "data": "update_time"},
                {"title": "查看合同", "data": "caozuo"},
            ]

        });
    });

    $.extend($.fn.dataTable.defaults, {
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        buttons: true
    });

    function read(id) {
//        $.post('readAdd',{id:id})
    }
</script>
