<!DOCTYPE html>
<html lang="en">
{include file="layout/head"}

<body class="sticky-header">

<section>
    <!-- left side start-->
    {include file="layout/sidebar"}
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->

        <!--toggle button end-->

        <!--search start-->
        <!-- <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form> -->
        <!--search end-->

        <!--notification menu start -->
       {include file="layout/header"}
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                分类图片管理：<span style="color: red;">{$c_name}</span>
            </h3>
            <a style="float: right;margin-right: 50px;color: black;font-weight: bold" href="{:url('user/category')}">返回上一页</a>
        </div>

<section class="panel">
<div class="col-sm-12" >
    <form action="{:url('user/update_pc_img')}?category_id={$category_id}" method="post" id="myform" enctype="multipart/form-data">
        <h4 style="margin-left: 50px;color: red;font-weight: bold">PC:</h4>
        <div class="form-group row">
            <div class="left col-xs-3 text-right">
                <label for="">分类图片:</label>
            </div>
            <div class="right col-xs-8 text-left">
                <input type="file"  name="pc_pic">
            </div>
        </div>

        <div class="form-group row">
            <div class="left col-xs-3 text-right">
                <label for="">缩略图:</label>
            </div>
            <div class="right col-xs-8 text-left">
                <?php if (empty($pc_img)) { ?>未上传 <?php }else { ?>
                <img src="{$pc_img}" alt="" style="width: 250px">
                <?php } ?>
                <!--<img src="" style="width: 300px;height: 300px;/>-->
            </div>
        </div>

        <div class="form-group text-center submit">
            <button type="submit" class="btn btn-primary ">提交</button>
        </div>
    </form>
</div>
    <div class="col-sm-12" >
        <form action="{:url('user/update_m_img')}?category_id={$category_id}" method="post" id="myform" enctype="multipart/form-data">
            <h4 style="margin-left: 50px;color: red;font-weight: bold">公众账号:</h4>
            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">分类图片:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <input type="file"  name="c_pic">
                </div>
            </div>

            <div class="form-group row">
                <div class="left col-xs-3 text-right">
                    <label for="">缩略图:</label>
                </div>
                <div class="right col-xs-8 text-left">
                    <?php if (empty($c_img)) { ?>未上传 <?php }else { ?>
                        <img src="{$c_img}" alt="" style="width: 250px">
                    <?php } ?>
                    <!--<img src="" style="width: 300px;height: 300px;/>-->
                </div>
            </div>

            <div class="form-group text-center submit">
                <button type="submit" class="btn btn-primary ">提交</button>
            </div>
        </form>
    </div>
    {include file="layout/footer"}
</section>
<!-- Placed js at the end of the document so the pages load faster -->
{include file="layout/js"}

<!-- END JAVASCRIPTS -->
</body>
</html>
